<nav>
    <div class="logo"><a href="/">ğ“¢ğ“²ğ“­ ğ“½ğ“±ğ“²ğ“¼ ğ“²ğ“¼ ğ“¬ğ“¸ğ“¸ğ“µ</a></div>
    <ul>
        <li><a href="/submission">New Submission</a></li>
        <li><a href="/history">View History</a></li>
        <% if (isLoggedIn) { %>
            <li><a href="/logout">Logout</a></li>
        <% } else { %>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
        <% } %>
    </ul>
</nav>