<nav>
    <div class="logo">MyLogo</div>
    <ul>
        <li><a href="/#">New Submission</a></li>
        <li><a href="/#">View History</a></li>
        <li><a href="/login">Login</a></li>
    </ul>
</nav>