<nav>
    <div class="logo"><a href="/">MyLogo</a></div>
    <ul>
        <li><a href="/submission">New Submission</a></li>
        <li><a href="/history">View History</a></li>
        <li><a href="/future-tasks">Future Tasks</a></li>
        <% if (isLoggedIn) { %>
            <li><a href="/logout">Logout</a></li>
        <% } else { %>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
        <% } %>
    </ul>
</nav>