<nav>
    <ul>
        <li class="logo">MyLogo</li>
        <li><a href="/new-submission">New Submission</a></li>
        <li><a href="/view-history">View History</a></li>
        <li><a href="/login">Login</a></li>
    </ul>
</nav>